.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu li {
  margin: 20px;
  border: 4px solid #ccc;
  padding: 10px;
}

.menu li img {
  width: 100px;
  height: 100px;
}
